code,
pre {
  background-color: var(--color-code-background)!important;
  color: var(--color-code-text);
}

pre {
  font-size: 0.875rem;
  border-radius: 0.75rem;
  margin-bottom: 2rem;
  position: relative;
  min-width: 100%;
  width: 300px;
  overflow: hidden;
}

code {
  min-width: 100%;
  width:100%;
  float: left;
  overflow-x: auto;
  margin-top: 0.5rem;
}

code .main-code {
  float: left;
  padding-bottom: 1rem;
}

:not(pre) > code {
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
  white-space: normal;
  min-width:none;
  width:fit-content;
  float:none;
}

.token.parameter {
  color: var(--color-code-text);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--color-code-comment);
}

.token.punctuation {
  color: var(--color-code-punctuation);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--color-code-const);
}

.token.boolean,
.token.number {
  color: var(--color-code-bool);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--color-code-string);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--color-code-var);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: var(--color-code-func);
}

.token.keyword {
  color: var(--color-code-keyword);
}

.token.regex,
.token.important {
  color: var(--color-code-regex);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.highlight-line {
  position: relative;
  padding: 0 1.5rem;
  cursor: text;
}

.highlight-line:first-child {
  margin-top: 0.5rem;
}

.code-filename {
  padding: 0.8rem 1.5rem;
  background-color: var(--color-code-background-file);
  font-size: 0.875rem;
}

@media (min-width: 640px) {
  pre,.code-filename {
    font-size: 1rem;
  }
}
