@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    /* @apply bg-gray-50 text-gray-900; */
  }
  /* .codeStyle, pre, code, code span {
    font-family: inherit;
    font-style: normal;
    font-size: 16;
    border: none;
    box-shadow: none;
    text-shadow: none;
  
  }; */
  
  .codeStyle {
    padding: 1.5rem 0 1.5rem 1.5rem !important;
    overflow: scroll;
    border-radius: 5;
    background: transparent !important;
    border: none;
  
  
  };
  
  .codeStyle code {
    padding-right: 1.5rem;
    background-color: transparent !important;
    transform: translateZ(0);
    min-width: 100%;
    float: left;
  
  };
  
  .codeStyle code > span[data=highlight] {
    display: block;
  
  };
  .codeStyle code > span[data=highlight]:last-of-type {
  
      display: none;
  };
  
}

